


<header>
  <h1>Welcome to Your Fitness Journey!</h1>
</header>

<main class="container">

  <section class="guidance-section">
    <div class="row justify-content-center">

      <div class="col-md-8">
        <h2>Setting Your Goals</h2>
        <p>The first step in any fitness journey is defining your goals. Are you looking to build muscle, lose weight, improve endurance, or enhance flexibility? Understanding your objectives will help tailor your fitness routine to suit your needs. Remember, goals should be specific, measurable, achievable, relevant, and time-bound (SMART).</p>
      </div>
    </div>
  </section>

  <section class="guidance-section">
    <div class="row">

      <div class="col-md-6 order-md-2">
        <img src="../../assets/guidance/img1.webp" alt="Fitness Image" class="img-fluid">

      </div>
      <div class="col-md-6">
        <h2>Crafting Your Fitness Plan</h2>
        <p>Once you've established your goals, it's time to craft a personalized fitness plan. This plan should include a mix of cardiovascular exercises, strength training, flexibility exercises, and rest days for recovery. Variety is key to keeping your workouts engaging and preventing plateaus.</p>
      </div>
    </div>
  </section>
  <section class="guidance-section">
    <div class="row">

      <div class="col-md-6 order-md-2">
        <img src="../../assets/guidance/Fitness Happy mood.jpg" alt="Fitness Image" class="img-fluid">

      </div>
      <div class="col-md-6">
      <h2>Finding Your Motivation</h2>
      <p>Staying motivated can be challenging, but finding your "why" can help fuel your journey. Whether it's to set a positive example for your loved ones, improve your health, or simply feel more confident in your skin, connecting with your deeper motivations will keep you committed when the going gets tough.</p>
    </div>
  </div>

  </section>
  <section class="guidance-section">
    <div class="row">
      <div class="col-md-6 order-md-2">
        <img src="../../assets/guidance/balance.jpg" alt="Fitness Image" class="img-fluid">

      </div>
      <div class="col-md-6">

      <h2>Embracing a Balanced Lifestyle</h2>
      <p>Fitness extends beyond the gym; it's a lifestyle encompassing nutrition, sleep, stress management, and self-care. Aim for a balanced diet rich in whole foods, prioritize quality sleep, practice stress-reducing techniques like meditation or yoga, and carve out time for activities that bring you joy.</p>
    </div>
  </div>
  </section>
  <section class="guidance-section">
    <div class="row">
      <div class="col-md-6 order-md-2">
        <img src="../../assets/guidance/PhysicalActivityLP_804x482.jpg" alt="Fitness Image" class="img-fluid">

      </div>
      <div class="col-md-6">

      <h2>Listening to Your Body</h2>
      <p>While pushing yourself is essential for progress, it's equally important to listen to your body and respect its limits. Pay attention to signs of fatigue, soreness, and discomfort, and adjust your workouts accordingly. Rest and recovery are just as crucial as exercise in achieving optimal results.</p>
    </div>
  </div>
  </section>


  <section class="guidance-section">
<div class="row">
  <div class="col-md-6 order-md-2">
        <img src="../../assets/guidance/Celebrate-Meeting-Fitness-Goals-pilates.jpg" alt="Fitness Image" class="img-fluid">

      </div>
      <div class="col-md-6">

      <h2>Celebrating Your Progress
      </h2>
      <p>Finally, celebrate your progress along the way. Whether it's hitting a new personal record, mastering a challenging yoga pose, or simply feeling more energized and confident, every achievement, no matter how small, is worth celebrating. Embrace the journey, and remember that consistency and dedication will lead you to success.

       </p>
    </div>
  </div>
  </section>
</main>



