



    header {
      color: #fff;
      text-align: center;
      margin: 10px;
    }

    h1 {
      margin: 0;
    }

    main {
      padding: 15px;
    }

    .guidance-section {
      margin: 15px;
      border: 1px solid #ccc;
      padding: 15px;
      border-radius: 8px;
      background-color: #f9f9f9;
      opacity: 0.9;    }

    .content {
      text-align: center;
    }

    h2 {
      color: #f0e43b;
    }

    p {
      color: #444;
    }

    img{
      height: 300px;
      border-radius: 8px;

    }

    footer {
      background-color: #333;
      color: #fff;
      padding: 20px;
      text-align: center;
    }


@media only screen and (min-width: 768px) {
 .row {
    flex-direction: row;
  }

 .col-md-8 {
    flex-basis: 66.67%;
  }


}
